<%= form_for [:user, :farm, @product] do |f| %>
  <div<%= ' class="field_with_errors"'.html_safe if @product.errors[:product_name_id].any? %>>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Pommes de Terre Amandine', 'data-autocomplete-url': autocomplete_products_path, autofocus: true, required: true %>
  </div>
  <% if @product.errors[:product_name_id].any? %>
    <p class="field_error_message"><%= @product.errors[:product_name_id].first %></p>
  <% end %>
  <div>
    <%= f.label :available %>
    <%= f.check_box :available %>
  </div>
  <div id="price-fields"<%= ' class="field_with_errors"'.html_safe if @product.errors[:price].any? %>>
    <%= label_tag "product[price]", Product.human_attribute_name(:price) %>
    <%= number_field_tag "product[price]", @product.price, step: '.01', required: true %>
    <%= f.select :price_unit, options_for_select(Product::UNITS, @product.price_unit), {} %>
  </div>
  <% if @product.errors[:price].any? %>
    <p class="field_error_message"><%= @product.errors[:price].first %></p>
  <% end %>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: 'Variété, conditionnement, etc', autoresize: true %>
    <% if @product.errors[:description].any? %>
      <p class="field_error_message"><%= @product.errors[:description].first %></p>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit (@product.new_record?) ? 'Ajouter' : 'Enregistrer', class: 'button' %>
  </div>
<% end %>

