<% content_for :title do 'Mon profil - ' end %>

<div class="content row">
  <div class="small-12 medium-8 medium-centered columns">
    <div class="box">
      <h2>Profil public</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div>
          <%= f.label :name %>
          <%= f.text_field :name, required: true, autofocus: true %>
          <% if resource.errors[:name].any? %>
            <p class="field_error_message"><%= resource.errors[:name][0] %></p>
          <% end %>
        </div>
        <div>
          <%= f.label :show_email %>
          <%= f.select :show_email do %>
            <%= options_for_select([
              ['Ne pas afficher publiquement mon adresse e-mail, merci', false],
              [resource.email, true]
            ], resource.show_email) %>
          <% end %>
        </div>
        <div>
          <%= f.label :url %>
          <%= f.text_field :url %>
          <% if resource.errors[:url].any? %>
            <p class="field_error_message"><%= resource.errors[:url][0] %></p>
          <% end %>
        </div>
        <div>
          <%= f.label :bio %>
          <%= f.text_area :bio, rows: 3 %>
          <% if resource.errors[:bio].any? %>
            <p class="field_error_message"><%= resource.errors[:bio][0] %></p>
          <% end %>
        </div>
        <div class="actions">
          <%= f.submit "Enregistrer", class: "button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

