<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'main', media: 'all' %>
  <%= javascript_include_tag 'main' %>
  <%= yield :head %>
</head>
<body<%= (' class="' + yield(:pagename) + '"').html_safe if content_for?(:pagename) %>>
  <header>
    <div class="row">
      <div class="small-12 medium-4 columns">
        <h1>
          <span data-responsive-toggle="hdr-menu" data-hide-for="medium">
            <button class="menu-icon" data-toggle></button>
          </span>
          <a href="/">
            <img alt="cestlocal.fr" src="/assets/logo.png"/>
          </a>
        </h1>
      </div>
      <div class="small-12 medium-8 columns" id="hdr-menu">
        <ul class="menu align-right">
          <% if !user_has_farm? %>
            <li>
              <%= link_to new_user_farm_path, class: 'i-am-a-farmer button' do %>
                <i class="fi-arrow-right"></i> Je suis producteur
              <% end %>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li>
              <%= link_to user_root_path do %>
                <i class="fi-torso"></i> Mon compte
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fi-power"></i> Déconnexion
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fi-power"></i> Connexion
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
  <% if notice %>
    <div class="flash row" data-closable>
      <div class="success callout text-center">
        <i class="fi-check"></i>&emsp;<%= notice %>
        <button class="close-button" data-close>&times;</button>
      </div>
    </div>
  <% end %>
  <% if alert %>
    <div class="flash row" data-closable>
      <div class="alert callout text-center">
        <i class="fi-alert"></i>&emsp;<%= alert %>
        <button class="close-button" data-close>&times;</button>
      </div>
    </div>
  <% end %>
  <%= yield %>
  <footer class="row">
    <div class="small-12 column text-center">
      &copy; 2016 Cestlocal.fr
    </div>
  </footer>
</body>
</html>
