<% content_for :head do %>
  <title><%= @farm.name %> - Cestlocal.fr</title>
<% end %>

<% content_for :pagename do 'user-farm' end %>

<div class="content row">
  <%= render partial: "account/shared/menu" %>
  <div class="small-12 medium-8 columns end">
    <div id="places-ui">
      <%= form_tag destroy_user_farm_places_path do %>
        <div class="small button-group">
          <%= link_to 'Ajouter', new_user_farm_place_path, class: 'button' %>
          <%= submit_tag 'Supprimer', class: 'alert button', data: {confirm: "Êtes-vous sûr de vouloir supprimer ces points de vente ?"} %>
        </div>
        <% if @farm.places.empty? %>
          <div class="no-places callout">Pas de point de vente.</div>
        <% else %>
          <table class="places">
            <% @farm.places.each do |place| %>
              <tr>
                <td class="checkbox">
                  <input type="checkbox" name="ids[]" value="<%= place.id %>"/>
                </td>
                <td class="name">
                  <%= link_to place.name, edit_user_farm_place_path(place) %>
                  <span>(<%= place.address %>)</span>
                </td>
              </tr>
            <% end %>
          </table>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
