<% content_for :title do "Abonnés de ma ferme - " end %>
<% content_for :pagename do 'user-farm-subscribtions' end %>

<div class="content row">
  <div class="small-12 medium-8 medium-centered columns">
    <div class="box">
      <h2>Message aux abonnés (par courriel)</h2>
      <%= form_tag sendmail_user_farm_subscribtions_path do %>
        <div<%= ' class="field_with_errors"'.html_safe if @mail.errors[:subject].any? %>>
          <%= label_tag 'mail[subject]', 'Objet' %>
          <div class="input-group">
            <span class="input-group-label"><%= SubscriberMail.prepend_subject_with @farm %></span>
            <%= text_field_tag 'mail[subject]', @mail.subject, class: 'input-group-field', required: true %>
          </div>
        </div>
        <% if @mail.errors[:subject].any? %>
          <p class="field_error_message"><%= @mail.errors[:subject].first %></p>
        <% end %>
        <div<%= ' class="field_with_errors"'.html_safe if @mail.errors[:body].any? %>>
          <%= label_tag 'mail[body]', 'Message' %>
          <%= hidden_field_tag 'mail[body]', @mail.body, required: true %>
          <trix-editor input="mail_body"></trix-editor>
        </div>
        <% if @mail.errors[:body].any? %>
          <p class="field_error_message"><%= @mail.errors[:body].first %></p>
        <% end %>
        <div class="actions">
          <%= submit_tag 'Envoyer', class: 'button' %>
        </div>
      <% end %>
    </div>
    <div class="cl-list box">
      <%= form_tag destroy_user_farm_subscribtions_path do %>
        <h2>
          Abonnés
          <div class="cl-list-actions">
            <!--%= link_to '#', class: 'button' do %>
              <i class="fi-plus"></i> Ajouter
            <!% end %-->
            <%= button_tag type: 'submit', class: 'alert button', data: {confirm: "Êtes-vous sûr de vouloir désabonner ces personnes ?"} do %>
              <i class="fi-trash"></i> Désabonner
            <% end %>
          </div>
        </h2>
        <% if @farm.subscribtions.empty? %>
          <div class="cl-list-empty">Pas d'abonné.</div>
        <% else %>
          <input class="cl-list-filter" type="text" placeholder="Filtrer parmis les abonnés"/>
          <div class="cl-list-content">
            <table>
              <% @farm.subscribtions.each do |s| %>
                <tr>
                  <td class="checkbox">
                    <input type="checkbox" name="ids[]" value="<%= s.id %>"/>
                  </td>
                  <td>
                    <%= "#{s.user.name} -" unless s.user.name.empty? %>
                    <%= mail_to s.user.email %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
