<% content_for :head do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5V1m3yWciaNyGX6XqDc2cVoN9nYujzaI"></script>
<% end %>
<% content_for :title do "#{@farm.name} - " end %>
<% content_for :pagename do "farm#{' is-owner' if @is_owner}" end %>
<div class="banner" style="background-image:url(<%= asset_path @farm.banner %>)">
  <h2><%= @farm.name %></h2>
  <div class="row banner-btns">
  <% if @is_owner %>
    <%= form_for @farm, url: user_farm_path, multipart: true, 'data-closable': true do |f| %>
      <%= f.label :banner, "Modifier l'image", class: 'update-banner banner-btn' %>
      <%= f.file_field :banner, class: 'show-for-sr' %>
      <button type="button" class="remove-banner banner-btn">Supprimer l'image</button>
    <% end %>
    <%= link_to 'Voir la page publique', farm_path(@farm), class: 'go-public banner-btn' %>
  <% else %>
    <% if user_signed_in? && current_user.subscribed_to?(@farm) %>
      <%= link_to farm_subscribtion_path(@farm), method: :delete, class: 'unfollow banner-btn' do %>
        NE PLUS SUIVRE
      <% end %>
    <% else %>
      <%= link_to farm_subscribtion_path(@farm), method: :post, class: 'follow banner-btn' do %>
        SUIVRE
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>
<div class="row content">
  <div data-equalizer data-equalize-on="medium">
    <div class="small-12 medium-<%= @farm.description.blank? ? '9' : '7' %> columns hide-for-small-only">
      <div class="photos box" data-equalizer-watch>
        <h3>Photos</h3>
      </div>
    </div>
    <div class="small-12 medium-<%= @farm.description.blank? ? '3' : '5' %> columns">
      <div class="infos box" data-equalizer-watch>
        <h3>
          Infos
          <% if @is_owner %>
            <%= link_to "Modifier", edit_user_farm_path, class: "small button" %>
          <% end %>
        </h3>
        <div class="row">
          <% if !@farm.description.blank? %>
            <div class="small-12 medium-6 columns">
              <ul>
                <li><i class="fi-comment"></i> <%= simple_format @farm.description, nil, wrapper_tag: 'span' %></li>
              </ul>
            </div>
            <div class="small-12 medium-6 columns">
          <% else %>
            <div class="small-12 columns">
          <% end %>
            <ul>
              <li><i class="fi-telephone"></i> <%= link_to @farm.phone, "tel://#{@farm.phone}" %></li>
              <li><i class="fi-marker"></i> <%= simple_format @farm.address, nil, wrapper_tag: 'span' %></li>
              <% if !@farm.website.blank? %>
                <li><i class="fi-web"></i> <%= link_to @farm.website %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
