<% content_for :head do %>
  <link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.snow.css" />
  <script>
    var farm = <%=raw @farm.to_json(:only => [:name, :address, :lat, :lng]) %>;
    <% if @farm.page_content.blank? %>
      farm.page_content = [
        {type: 'text', data: "<h1 class=\"ql-align-center\">Titre</h1><p class=\"ql-align-justify\">Votre texte ici...</p><p><br></p>"},
        {type: 'map', data: null},
      ];
    <% else %>
      farm.page_content = <%=raw @farm.page_content %>;
    <% end %>
  </script>
  <% if @is_owner %>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script type="text/template" id="owner-ui-template">
      <div class="owner-ui">
        <button class="rbutton" data-toggle="add-row-menu">
          <i class="fi-plus"></i> Ajouter un bloc
        </button>
        <button class="rbutton" data-toggle="edit-row-menu">
          <i class="fi-page-edit"></i> Modifier
        </button>
        <button class="rbutton" id="preview-row-btn">
          <i class="fi-eye"></i> Prévisualiser
        </button>
        <div id="add-row-menu" class="dropdown-pane" data-dropdown data-close-on-click="true">
          <ul class="vertical menu align-left">
            <li><a class="text"><i class="fi-pencil"></i> Texte</a></li>
            <li><a class="map"><i class="fi-marker"></i> Carte</a></li>
          </ul>
        </div>
        <div id="edit-row-menu" class="dropdown-pane" data-dropdown data-close-on-click="true" data-dropdown-position="bottom">
          <ul class="vertical menu align-left">
            <li><a class="edit"><i class="fi-page-edit"></i> Modifier</a></li>
            <li><a class="remove"><i class="fi-minus"></i> Supprimer</a></li>
            <li><a class="ascend"><i class="fi-arrow-up"></i> Monter</a></li>
            <li><a class="descend"><i class="fi-arrow-down"></i> Descendre</a></li>
          </ul>
        </div>
      </div>
    </script>
  <% else %>
    <script type="text/template" id="map-template">
      <div class="map farm-row">
        <iframe src="https://www.google.com/maps/embed/v1/place?q=${farm.lat},${farm.lng}&key=AIzaSyB5V1m3yWciaNyGX6XqDc2cVoN9nYujzaI&language=fr" allowfullscreen></iframe>
      </div>
    </script>
  <% end %>
<% end %>
<% content_for :title do "#{@farm.name} - " end %>
<% content_for :pagename do "farm#{' is-owner' if @is_owner}" end %>
<% content_for :actions do %>
  <% if @is_owner %>
    <%= form_for @farm, url: user_farm_path, html: { id: 'page-content-form' } do |f| %>
      <%= f.hidden_field :page_content %>
      <button class="action" type="button">
        <i class="fi-save"></i><span class="hide-for-small-only"> Enregistrer les modifications</span>
      </button>
    <% end %>
  <% end %>
<% end %>
<div class="banner" style="background-image:url(<%= asset_path @farm.page_header %>)">
  <h2><%= @farm.name %></h2>
  <div class="row banner-btns">
    <% if @is_owner %>
      <%= form_for @farm, url: user_farm_path, multipart: true, 'data-closable': true do |f| %>
        <%= f.label :page_header, "Modifier l'image", class: 'update-banner banner-btn' %>
        <%= f.file_field :page_header, class: 'show-for-sr' %>
        <button type="button" class="remove-banner banner-btn">Supprimer l'image</button>
      <% end %>
      <%= link_to 'Voir la page publique', farm_path(@farm), class: 'go-public banner-btn' %>
    <% else %>
      <% if user_signed_in? && current_user.subscribed_to?(@farm) %>
        <%= link_to farm_subscribtion_path(@farm), method: :delete, class: 'unfollow banner-btn' do %>
          NE PLUS SUIVRE
        <% end %>
      <% else %>
        <%= link_to farm_subscribtion_path(@farm), method: :post, class: 'follow banner-btn' do %>
          SUIVRE
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<div id="farm-rows"></div>
