<% content_for :head do %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5V1m3yWciaNyGX6XqDc2cVoN9nYujzaI"></script>
<% end %>
<% content_for :title do "#{@farm.name} - " end %>
<% content_for :pagename do "farm#{' is-owner' if @is_owner}" end %>

<div class="content row">
  <div class="banner" style="background-image:url(<%= asset_path @farm.banner %>)">
    <h2><%= @farm.name %></h2>
    <% if @is_owner %>
      <%= form_for @farm, url: user_farm_path, multipart: true, 'data-closable': true do |f| %>
        <%= f.label :banner, "Modifier l'image", class: 'update-banner action-btn' %>
        <%= f.file_field :banner, class: 'show-for-sr' %>
        <button type="button" class="remove-banner action-btn">Supprimer l'image</button>
      <% end %>
      <%= link_to 'Voir la page publique', farm_path(@farm), class: 'go-public action-btn' %>
    <% else %>
      <% if user_signed_in? && current_user.subscribed_to?(@farm) %>
        <%= link_to farm_subscribtion_path(@farm), method: :delete, class: 'unfollow action-btn' do %>
          NE PLUS SUIVRE
        <% end %>
      <% else %>
        <%= link_to farm_subscribtion_path(@farm), method: :post, class: 'follow action-btn' do %>
          SUIVRE
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div data-equalizer data-equalize-on="medium">
    <div class="small-12 medium-<%= @farm.description.blank? ? '9' : '7' %> columns hide-for-small-only">
      <div class="photos box" data-equalizer-watch>
        <h3>Photos</h3>
      </div>
    </div>
    <div class="small-12 medium-<%= @farm.description.blank? ? '3' : '5' %> columns">
      <div class="infos box" data-equalizer-watch>
        <h3>
          Infos
          <% if @is_owner %>
            <%= link_to "Modifier", edit_user_farm_path, class: "small button" %>
          <% end %>
        </h3>
        <div class="row">
          <% if !@farm.description.blank? %>
            <div class="small-12 medium-6 columns">
              <ul>
                <li><i class="fi-comment"></i> <%= simple_format @farm.description, nil, wrapper_tag: 'span' %></li>
              </ul>
            </div>
            <div class="small-12 medium-6 columns">
          <% else %>
            <div class="small-12 columns">
          <% end %>
            <ul>
              <li><i class="fi-telephone"></i> <%= link_to @farm.phone, "tel://#{@farm.phone}" %></li>
              <li><i class="fi-marker"></i> <%= simple_format @farm.address, nil, wrapper_tag: 'span' %></li>
              <% if !@farm.website.blank? %>
                <li><i class="fi-web"></i> <%= link_to @farm.website %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="small-12 medium-4 columns">
    <div class="products cl-list box">
      <% if @is_owner %>
        <form action="<%= destroy_user_farm_products_path %>" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <% end %>
      <h3>
        Produits
        <% if @is_owner %>
          <div class="cl-list-actions">
            <%= link_to new_user_farm_product_path, class: 'button' do %>
              <i class="fi-plus"></i> Ajouter
            <% end %>
            <%= button_tag type: 'submit', class: 'alert button', data: {confirm: 'Êtes-vous sûr de vouloir supprimer les produits séléctionnés ?'} do %>
              <i class="fi-trash"></i> Supprimer
            <% end %>
          </div>
        <% end %>
      </h3>
      <% if @products.empty? %>
        <div class="cl-list-empty">Pas de produit.</div>
      <% else %>
        <input class="cl-list-filter" type="text" placeholder="Filtrer parmis les produits"/>
        <div class="cl-list-content">
          <table>
            <% @products.each do |product| %>
              <tr>
                <% if @is_owner %>
                  <td class="checkbox">
                    <input type="checkbox" name="ids[]" value="<%= product.id %>" class="checkbox">
                  </td>
                <% end %>
                <td>
                  <% if @is_owner %>
                    <%= link_to product.name, edit_user_farm_product_path(product) %>
                    <span class="label">
                      <i class="fi-shopping-cart"></i> <%= (product.available) ? 'En vente' : 'Épuisé' %>
                    </span>
                  <% else %>
                    <%= product.name %>
                  <% end %>
                  <span class="label">
                    <i class="fi-price-tag"></i> <%= product.price_with_unit %>
                  </span>
                  <%= simple_format product.description, class: 'top-arrow-box' unless product.description.empty? %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
      <% if @is_owner %>
        </form>
      <% end %>
    </div>
  </div>
  <div class="small-12 medium-8 columns">
    <div class="places cl-list box">
      <% if @is_owner %>
        <form action="<%= destroy_user_farm_places_path %>" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <% end %>
      <h3>
        Points de vente
        <div class="cl-list-actions">
          <% if @is_owner %>
            <%= link_to new_user_farm_place_path, class: 'button' do %>
              <i class="fi-plus"></i> Ajouter
            <% end %>
            <%= button_tag type: 'submit', class: 'alert button', data: {confirm: "Êtes-vous sûr de vouloir supprimer ces points de vente ?"} do %>
              <i class="fi-trash"></i> Supprimer
            <% end %>
          <% elsif not @farm.places.empty? %>
            <button title="Carte" type="button" class="places-tabs-title button is-active" data-target="carte-des-pdv"><i class="fi-map"></i></button>
            <button title="Liste" type="button" class="places-tabs-title button" data-target="liste-des-pdv"><i class="fi-list"></i></button>
          <% end %>
        </div>
      </h3>
      <% if @farm.places.empty? %>
        <div class="cl-list-empty">Pas de point de vente.</div>
      <% else %>
        <div class="places-tabs">
          <% if not @is_owner %>
            <div class="places-tabs-panel is-active" id="carte-des-pdv">
              <script type="application/json" id="places-map-data">
                <%=
                  @farm.places.to_json(:only => [
                    :id, :name, :description, :address, :lat, :lng
                  ]).html_safe
                %>
              </script>
              <div class="places-map"></div>
            </div>
          <% end %>
          <div class="places-tabs-panel<%= " is-active" if @is_owner %>" id="liste-des-pdv">
            <input class="cl-list-filter" type="text" placeholder="Filtrer parmis les points de vente"/>
            <div class="cl-list-content">
              <table>
                <% @farm.places.each do |place| %>
                  <tr>
                    <% if @is_owner %>
                      <td class="checkbox">
                        <input type="checkbox" name="ids[]" value="<%= place.id %>"/>
                      </td>
                    <% end %>
                    <td>
                      <% if @is_owner %>
                        <%= link_to place.name, edit_user_farm_place_path(place) %>
                      <% else %>
                        <%= place.name %>
                      <% end %>
                      <span class="label">
                        <i class="fi-marker"></i> <%= place.address %>
                      </span>
                      <%= simple_format place.description, class: 'top-arrow-box' unless place.description.empty? %>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      <% end %>
      <% if @is_owner %>
        </form>
      <% end %>
    </div>
  </div>
</div>
