<% content_for :head do %>
  <link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.snow.css" />
  <script>
    var farm = <%=raw @farm.to_json(:only => [:name, :phone, :address, :lat, :lng]) %>;
    <% if @farm.page_content.blank? %>
      farm.page_content = [
        {type: 'text'}, {type: 'map'}, {type: 'contact'}
      ];
    <% else %>
      farm.page_content = <%=raw @farm.page_content %>;
    <% end %>
  </script>
  <% if @is_owner %>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
  <% end %>
<% end %>
<% content_for :title do "#{@farm.name} - " end %>
<% content_for :pagename do "farm#{' is-owner' if @is_owner}" end %>
<% content_for :actions do %>
  <% if @is_owner %>
    <%= form_for @farm, url: user_farm_path, html: { id: 'page-content-form' } do |f| %>
      <%= f.hidden_field :page_content %>
      <button class="btn btn-link">
        <i class="icon icon-check"></i><span class="hide-sm"> Enregistrer les modifications</span>
      </button>
    <% end %>
  <% end %>
<% end %>
<div class="banner">
  <h1><%= @farm.name %></h1>
  <div class="banner-btns" style="background-image:url(<%= asset_path @farm.page_header %>)">
    <% if @is_owner %>
      <%= form_for @farm, url: user_farm_path, multipart: true, 'data-closable': true do |f| %>
        <%= f.label :page_header, "Modifier l'image", class: 'btn btn-primary update-banner' %>
        <%= f.file_field :page_header %>
        <button class="btn btn-primary remove-banner">Supprimer l'image</button>
      <% end %>
      <%= link_to 'Voir la page publique', farm_path(@farm), class: 'btn btn-primary go-public' %>
    <% else %>
      <% if false && user_signed_in? && current_user.subscribed_to?(@farm) %>
        <!-- Never go there. This feature will be enabled later. -->
        <%= link_to farm_subscribtion_path(@farm), method: :delete, class: 'btn btn-primary unfollow' do %>
          NE PLUS SUIVRE
        <% end %>
      <% else %>
        <div class="follow popover popover-left">
          <button class="btn btn-error">SUIVRE</button>
          <div class="popover-container">
            <div class="card">
              <div class="card-body">
                <%= form_for @farm.subscribtions.new, url: farm_subscribtion_path(@farm) do |f| %>
                  <div class="form-group">
                    <%= f.label :email, class: 'form-label' %>
                    <%= f.text_field :email, class: 'form-input' %>
                  </div>
                  <div class="actions">
                    <%= f.submit "Suivre ce producteur", class: 'btn' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="infos">
    <% if @farm.shortdesc.present? %>
      <p><%= @farm.shortdesc %></p>
    <% end %>
    <i class="icon  icon-people"></i>
    <a href="tel://<%= @farm.phone %>">
      <%= @farm.phone %></a><br/>
    <i class="icon icon-mail"></i>
    <a href="mailto://<%= @farm.email %>">
      <%= @farm.email %></a><br/>
    <% if @farm.website.present? %>
      <i class="icon icon-link"></i>
      <a href="<%= @farm.website %>">
        <%= @farm.website %></a><br/>
    <% end %>
    <i class="icon icon-location"></i>
    <div>
      <%=address_to_bloc @farm.address %>
      <br/><u>Lat</u> : <%= @farm.lat %>
      <br/><u>Lon</u> : <%= @farm.lng %>
    </div>
  </div>
</div>
<div id="farm-rows"></div>
