<% content_for :head do %>
  <%= google_maps('&libraries=places') %>
  <script type="text/template" id="infowindow-tpl">
    <div class="iw">
      <div class="title">${farm.name}</div>
      <div class="desc">${farm.shortdesc}</div>
      <a href="/${farm.url}">Voir la page...</a>
    </div>
  </script>
  <script>$(function(){window._form.setResult(<%= render 'results' %>, false);})</script>
<% end %>
<% content_for :pagename do 'home' end %>
<div class="subtitle text-center">
  <h2>Retrouvons le goût de la rencontre.</h2>
</div>
<form action="/" method="get" data-remote="true" class="search-form">
  <div class="container">
    <div class="columns">
      <div class="column col-sm-12 col-4 col-ml-auto" id="query-input">
        <input type="text" id="q" name="q" placeholder="Je cherche ..." data-autocomplete-url="<%= autocomplete_q_path %>"/>
      </div>
      <div class="column col-sm-12 col-4 col-mr-auto" id="where-input">
        <input type="text" id="l" name="l" placeholder="Où ..." />
        <select id="d" name="d">
          <% [[10,'< 10'],[20,'< 20'],[50,'< 50'],[100,'< 100']].each do |v| %>
            <option value="<%= v[0] %>"><%= v[1] %> km</option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
</form>
<div class="search-result">
  <div class="container">
    <div class="columns">
      <div class="no-query column col-sm-12 col-8 col-mx-auto">
        <i class="icon icon-upward"></i><br/>
        Entrez votre recherche ci-dessus.
      </div>
      <div class="no-farm column col-sm-12 col-8 col-mx-auto">
        <p><i class="icon icon-cross"></i><br/>
          Aucun producteur trouvé :(</p>
        <p class="small">Essayez d'élargir votre recherche ou pourquoi pas
          parler de <%= text_logo %> autour de vous pour nous faire connaître&nbsp;:)</p>
      </div>
    </div>
  </div>
  <div id="map"></div>
</div>
