<% content_for :head do %>
  <%= google_maps('&libraries=places') %>
<% end %>
<%= form_for(@farm, url: @farm.new_record? ? user_farm_path : edit_user_farm_path) do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, placeholder: 'Ferme de Martin', required: true, class: 'form-input' %>
    <% if @farm.errors[:name].any? %>
      <p class="field_error_message"><%= @farm.errors[:name][0] %></p>
    <% end %>
  </div>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><%= root_url %></span>
      <%= f.text_field :url, class: 'form-input', placeholder: 'ferme-de-martin' %>
    </div>
    <% if @farm.errors[:url].any? %>
      <p class="field_error_message after-input-group"><%= @farm.errors[:url][0] %></p>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :categories, class: 'form-label' %>
    <select name="farm[category_ids][]" multiple jllAutocomplete>
      <% FarmCategory.all.each do |category| %>
        <option value="<%= category.id %>" <%= 'selected' if @farm.categories.include?(category) %>>
          <%= category.name %></option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <%= f.label :shortdesc, class: 'form-label' %>
    <%= f.text_area :shortdesc, rows: 3, autoresize: true, maxlength: Farm::SHORTDESC_MAX_LENGTH, required: true, class: 'form-input' %>
    <% if @farm.errors[:shortdesc].any? %>
      <p class="field_error_message"><%= @farm.errors[:shortdesc][0] %></p>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :email, class: 'form-label' %>
    <%= f.phone_field :email, required: true, class: 'form-input' %>
    <% if @farm.errors[:email].any? %>
      <p class="field_error_message"><%= @farm.errors[:email][0] %></p>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :phone, class: 'form-label' %>
    <%= f.phone_field :phone, required: true, class: 'form-input' %>
    <% if @farm.errors[:phone].any? %>
      <p class="field_error_message"><%= @farm.errors[:phone][0] %></p>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :address, class: 'form-label' %>
    <%= f.text_field :address, required: true, class: 'form-input' %>
    <%= f.hidden_field :lat, :autocomplete => 'off' %>
    <%= f.hidden_field :lng, :autocomplete => 'off' %>
    <% if @farm.errors[:address].any? %>
      <p class="field_error_message"><%= @farm.errors[:address][0] %></p>
    <% end %>
    <div id="map"></div>
  </div>
  <div class="form-group">
    <%= f.label :website, class: 'form-label' %>
    <%= f.url_field :website, class: 'form-input' %>
    <% if @farm.errors[:website].any? %>
      <p class="field_error_message"><%= @farm.errors[:website][0] %></p>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Enregistrer", class: "btn" %>
  </div>
<% end %>
