<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <title><%= yield(:title) %>Jaimelelocal.fr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :head %>
</head>
<body<%= (' class="' + yield(:pagename) + '"').html_safe if content_for?(:pagename) %>>
  <div class="loading-bar">
    <div class="line"></div>
    <div class="subline inc"></div>
    <div class="subline dec"></div>
  </div>
  <header class="navbar">
    <section class="navbar-section">
      <a href="/" class="navbar-brand m-2">
        <%= image_tag 'logo.png', alt: request.host %></a>
    </section>
    <section class="navbar-section mr-2">
      <%= yield :actions %>
      <% if !user_has_farm? %>
        <%= link_to i_am_farmer_path, class: 'btn hide-sm' do %>
          <i class="icon icon-check"></i> Je suis producteur
        <% end %>
      <% end %>
      <% if user_signed_in? %>
        <div class="dropdown dropdown-right">
          <button class="btn btn-link dropdown-toggle">
            <i class="icon icon-people"></i>
            <span class="hide-sm"><%= current_user.name %></span>
            <i class="icon icon-caret"></i>
          </button>
          <ul class="menu">
            <li class="username"><%= current_user.name %></li>
            <%= menu_box_item "Mon compte", edit_user_registration_path %>
            <% if user_has_farm? %>
              <%= menu_box_item "Ferme > Page", user_farm_path %>
              <%= menu_box_item "Ferme > Abonnés", user_farm_subscribtions_path %>
              <%= menu_box_item "Ferme > Paramètres", edit_user_farm_path %>
            <% else %>
              <%= menu_box_item 'Enregistrer ma ferme', new_user_farm_path %>
            <% end %>
            <li class="menu-item">
              <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      <% else %>
        <%= link_to new_user_session_path, class: 'btn btn-link' do %>
          <i class="icon icon-people"></i><span class="hide-sm"> Connexion</span>
        <% end %>
      <% end %>
    </section>
  </header>
  <% if notice %>
    <div class="flash toast toast-success">
      <button class="btn btn-clear float-right"></button>
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="flash toast toast-error">
      <button class="btn btn-clear float-right"></button>
      <%= alert %>
    </div>
  <% end %>
  <%= yield %>
  <footer>
    <div class="container">
      <div class="columns">
        <div class="column col-sm-12 col-md-4 col-3 col-ml-auto text-center">
          <h3>Le projet</h3>
          <ul>
            <li><a href="#">Comment ça marche ?</a></li>
            <li><a href="#">Qui sommes nous ?</a></li>
            <li><a href="#">Nos engagements</a></li>
          </ul>
        </div>
        <div class="column col-sm-12 col-md-4 col-3 col-mr-auto text-center">
          <h3>Besoin d'aide ?</h3>
          <ul>
            <li><a href="#">Questions fréquentes</a></li>
            <li><a href="#">Nous contacter</a></li>
          </ul>
        </div>
      </div>
      <div class="copy text-center">
        &copy; 2016 <%= request.host.capitalize %>
      </div>
    </div>
  </footer>
</body>
</html>
