<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <title><%= yield(:title) %>Jaimelelocal.fr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :head %>
</head>
<body<%= (' class="' + yield(:pagename) + '"').html_safe if content_for?(:pagename) %>>
  <header class="expanded row">
    <div class="small-8 medium-4 columns">
      <h1>
        <a href="/"><%= image_tag 'logo.png', alt: request.host %></a>
      </h1>
    </div>
    <div class="small-4 medium-8 columns" id="actions">
      <%= yield :actions %>
      <% if !user_has_farm? %>
        <%= link_to i_am_farmer_path, class: 'action i-am-a-farmer hide-for-small-only' do %>
          <i class="fi-arrow-right"></i> Je suis producteur
        <% end %>
      <% end %>
      <% if user_signed_in? %>
        <button class="action" type="button" data-toggle="menu">
          <i class="fi-torso"></i><span class="dropdown hide-for-small-only"> <%= current_user.name %> </span>
        </button>
        <div id="menu" class="dropdown-pane" data-dropdown data-position="bottom" data-close-on-click="true">
          <ul class="vertical menu align-left">
            <li class="user-name"><%= current_user.name %></li>
            <%= menu_box_item "Mon profil", edit_user_profile_path %>
            <%= menu_box_item "Mes identifiants", edit_user_registration_path %>
            <% if user_has_farm? %>
              <%= menu_box_item "Ferme > Page", user_farm_path %>
              <%= menu_box_item "Ferme > Abonnés", user_farm_subscribtions_path %>
              <%= menu_box_item "Ferme > Paramètres", edit_user_farm_path %>
            <% else %>
              <%= menu_box_item 'Enregistrer ma ferme', new_user_farm_path %>
            <% end %>
            <li><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      <% else %>
        <%= link_to new_user_session_path, class: 'action' do %>
          <i class="fi-torso"></i><span class="hide-for-small-only"> Connexion</span>
        <% end %>
      <% end %>
    </div>
  </header>
  <% if notice %>
    <div class="flash" data-closable>
      <div class="success callout text-center">
        <i class="fi-check"></i>&emsp;<%= notice %>
        <button class="close-button" data-close>&times;</button>
      </div>
    </div>
  <% end %>
  <% if alert %>
    <div class="flash" data-closable>
      <div class="alert callout text-center">
        <i class="fi-alert"></i>&emsp;<%= alert %>
        <button class="close-button" data-close>&times;</button>
      </div>
    </div>
  <% end %>
  <%= yield %>
  <footer class="expanded row">
    <div class="small-12 column text-center">
      &copy; 2016 <%= request.host.capitalize %>
    </div>
  </footer>
</body>
</html>
